/**********
*** FONT START ***
**********/
@font-face {
  font-family: "NotoSerif";
  font-style: normal;
  font-weight: 400;
  src: local("NotoSerif-Regular"),
    url("../fonts/NotoSerif-Regular.woff2") format("woff2"),
    url("../fonts/NotoSerif-Regular.woff") format("woff");
}

@font-face {
  font-family: "NotoSerif";
  font-style: normal;
  font-weight: 500;
  src: local("NotoSerif-Medium"),
    url("../fonts/NotoSerif-Medium.woff2") format("woff2"),
    url("../fonts/NotoSerif-Medium.woff") format("woff");
}

@font-face {
  font-family: "NotoSerif";
  font-style: normal;
  font-weight: 600;
  src: local("NotoSerif-SemiBold"),
    url("../fonts/NotoSerif-SemiBold.woff2") format("woff2"),
    url("../fonts/NotoSerif-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "NotoSerif";
  font-style: normal;
  font-weight: 700;
  src: local("NotoSerif-Bold"),
    url("../fonts/NotoSerif-Bold.woff2") format("woff2"),
    url("../fonts/NotoSerif-Bold.woff") format("woff");
}

@font-face {
  font-family: "NotoSerif";
  font-style: normal;
  font-weight: 800;
  src: local("NotoSerif-ExtraBold"),
    url("../fonts/NotoSerif-ExtraBold.woff2") format("woff2"),
    url("../fonts/NotoSerif-ExtraBold.woff") format("woff");
}
/**********
*** FONT END ***
**********/

/**********
*** COLOR START ***
**********/
:root {
  --black: #021112;

  --white: #FFFFFF;

  --grey: #677071;
  --grey-100: #CCCFD0;
  --grey-200: #E0E2E3;

  --blue: #13A6BA;
  --blue-100: #C8F3F9;

  --beige: #FBEDDA;
  --beige-100: #FDF6ED;

  --violet: #772D8B;

  --lighte-pink: #FEECEB;

  --red: #F93633;

  --green-light: #B3C41D;

  --orange: #F3C98B;
}

/**********
*** COLOR END ***
**********/

/**********
*** COMMON START ***
**********/
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dt {
  margin: 0;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

input,
textarea {
  outline: transparent;
  border: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

body {
  font-family: "NotoSerif", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--grey);
  font-size: 18px;
  line-height: 29px;
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  flex-grow: 1;
  min-height: 100vh;
}

.container {
  max-width: 1620px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
.title {
  color: var(--black);
  font-size: 58px;
  font-weight: 700;
  line-height: 91px;
}
/**********
*** COMMON END ***
**********/

/**********
*** HEADER START ***
**********/
.header {
  background-color: var(--beige);
  padding: 40px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin-left: 500px;
}

.menu__btn {
  display: none;
}

.menu__list {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 81px;
}

.menu__link {
  color: var(--black);
  transition: all .3s;
}

.menu__link:hover {
  color: var(--grey);
}

.header__btn {
  background-color: var(--blue);
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border-radius: 8px;
  padding: 10px 25px;
  border: 1px solid transparent;
  transition: all .3s;
}

.header__btn:hover {
  background-color: var(--white);
  border: 1px solid var(--blue);
  color: var(--blue);
}


@media screen and (max-width: 1500px) {
  .menu {
    margin-left: 0;
  }
}

@media screen and (max-width: 1200px) {
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu {
    order: 1;
    margin-right: 15px;
  }
}

@media screen and (max-width: 992px) {
  .menu__list {
    display: none;
  }
  .menu__btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9;
  }
  span {
    width: 100%;
    height: 3px;
    background-color: var(--blue);
  }
  .menu__btn::after,
  .menu__btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--blue);
  }
  .menu__btn::after {
    bottom: 0;
  }
  .menu__btn::before {
    top: 0;
  }
  .menu__list {
    transform: translateY(-300%);
    background-color: var(--beige);
    display: block;
    padding: 30px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 65%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    transition: transform .7s ease;
    box-shadow: 16px -16px 42px 0px rgba(0, 0, 0, 0.10);
  }
  .menu__list--active {
    top: 0;
    transform: translateY(0%);
    overflow-y: auto;
    z-index: 2;
  }
  .menu__list--active::before {
    transform: rotate(45deg);
    top: 16px;
  }
  .menu__list--active::after {
    transform: rotate(-45deg);
    bottom: 21px;
  }
  .menu__list--active span {
    transform: scale(0);
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
  }
  .menu__link {
    padding: 25px 0;
    display: block;
  }
}

@media screen and (max-width: 375px) {
  .header {
    padding: 20px 0;
  }
  .menu {
    margin-right: 0;
  }
}
/**********
*** HEADER END ***
**********/

/**********
*** FOOTER START ***
**********/
.footer {
  padding-top: 20px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

.footer__item-logo {
  max-width: 338px;
  width: 100%;
}

.footer__logo-img {
  margin-bottom: 40px;
}

.footer__slogan {
  font-size: 20px;
}

.footer__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 42px;
  color: var(--black);
  margin-bottom: 50px;
}

.footer__list-item:not(:last-child) {
  margin-bottom: 24px;
}

.footer__list-link {
  font-size: 20px;
  color: var(--black);
  transition: all .3s;
}

.footer__list-link:hover {
  color: var(--grey);
  text-decoration: underline;
}

.footer__social {
  max-width: 283px;
  width: 100%;
}

.footer__slog {
  font-size: 20px;
  color: var(--black);
  margin-bottom: 40px;
}

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 40px;
}

.social__link {
  display: block;
  transition: all .3s;
  width: 100%;
}

svg {
  border: 1px solid var(--blue-100);
  width: 41px;
  height: 40px;
  transition: all .3s;
}

svg:hover {
  stroke: var(--blue);
  fill: var(--blue);
  border: 1px solid var(--blue);
}

.footer__bottom {
  border-top: 1px solid var(--grey-200);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px 0;
}

@media screen and (max-width: 1275px) {
  .footer__top {
    flex-wrap: wrap;
  }
  .footer__item:not(:last-child) {
    margin-right: 25px;
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 765px) {
  .footer__top {
    display: block;
    padding-bottom: 60px;
  }
  .footer__title {
    margin-bottom: 20px;
  }
}
/**********
*** FOOTER END ***
**********/

/**********
*** SEARCH START ***
**********/
.search {
  padding-top: 100px;
  background-color: var(--beige);
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.search__box {
  max-width: 988px;
  width: 100%;
  margin: 0 auto 130px;
}

.search__title {
  font-size: 80px;
  font-weight: 800;
  line-height: 105px;
  color: var(--black);
  margin: 0 auto 30px;
}

.search__slogan {
  font-size: 20px;
  line-height: 34px;
  color: var(--grey);
}

.search-tabs {
  background-color: var(--white);
  max-width: 1273px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 55px 0 rgba(0, 0, 0, 0.07);
  margin: 0 auto;
}

.search-tabs__top {
  padding: 45px 55px;
  padding-bottom: 0;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid var(--grey-200);
}

.search-tabs__top-item:not(:last-child) {
  margin-right: 87px;
}

.search-tabs__top-item {
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
  color: var(--grey-200);
  padding-bottom: 30px;
  display: inline-block;
  position: relative;
  transition: all .3s;
}

.search-tabs__top-item:hover {
  color: var(--grey);
}

.search-tabs__top-item--active {
  font-weight: 600;
  color: var(--black);
}

.search-tabs__top-item--active:hover {
  color: var(--black);
}

.search-tabs__top-item--active::before {
  position: absolute;
  content: '';
  width: 75px;
  height: 3px;
  background-color: var(--black);
  bottom: -1px;
  left: -5px;
}

.search-tabs__content-item {
  display: none;
}

.search-tabs__content-item--active {
  display: block;
}

.search-tabs__form {
  display: flex;
  justify-content: space-between;
  padding: 27px 55px 50px;
}

.search-tabs__list {
  display: flex;
}

.search-tabs__item {
  display: flex;
  flex-direction: column;
  text-align: start;
  position: relative;
  padding-left: 30px;
}

.search-tabs__item::before {
  position: absolute;
  top: -4px;
  left: 0;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.search-tabs__item-location::before {
  content: url(../img/svg/location.svg);
}

.search-tabs__item-key::before {
  content: url(../img/svg/key.svg);
}

.search-tabs__item-price::before {
  content: url(../img/svg/price.svg);
}

.search-tabs__link {
  font-size: 36px;
  font-weight: 600;
  line-height: 50px;
  color: var(--black);
}

.search-tabs__item:not(:last-child) {
  margin-right: 115px;
}

.search-tabs__item:not(:last-child)::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 50px;
  background-color: var(--grey-200);
  right: -60px;
  top: 6px;
}

.search-tabs__btn {
  color: var(--white);
  font-size: 28px;
  font-weight: 600;
  line-height: 29px;
  padding: 27px 56px;
  background-color: var(--blue);
  border-radius: 20px;
  border: 1px solid transparent;
  transition: all .3s;
}

.search-tabs__btn:hover {
  border: 1px solid var(--blue);
  color: var(--blue);
  background-color: var(--blue-100);
}

.search__inner {
  content: '';
  background-image: url(../img/house_bg.png);
  height: 1035px;
  max-width: 1735px;
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

@media screen and (max-width: 1230px) {
  .search {
    padding-bottom: 100px;
  }
  .search__box {
    margin: 0 auto 60px;
  }
  .search__title {
    font-size: 72px;
    line-height: 95px;
  }
  .search-tabs__form {
    padding: 27px 35px 50px;
  }
  .search-tabs__item:not(:last-child)::after {
    right: -35px;
  }
  .search-tabs__item:not(:last-child) {
    margin-right: 60px;
  }
  .search__inner {
    display: none;
  }
}

@media screen and (max-width: 1070px) {
  .search-tabs__form {
    align-items: center;
    padding: 35px 50px;
  }
  .search-tabs__list {
    display: block;
  }
  .search-tabs__item:not(:last-child) {
    margin-bottom: 60px;
    margin-right: 0;
  }
  .search-tabs__item:not(:last-child)::after {
    width: 70px;
    height: 1px;
    left: 0;
    top: 120px;
  }
  .search-tabs__btn {
    height: 115px;
    justify-content: center;
  }
}

@media screen and (max-width: 998px) {
  .search {
    padding: 60px 0;
  }
  .search__title {
    font-size: 58px;
    line-height: 72px;
  }
}

@media screen and (max-width: 765px) {
  .search__box {
    margin: 0 auto 50px;
  }
  .search__title {
    font-size: 46px;
    line-height: 57px;
  }
  .search-tabs__top {
    padding: 10px 10px;
  }
  .search-tabs__top-item {
    padding-bottom: 10px;
  }
  .search-tabs__top-item--active::before {
    bottom: -12px;
  }
  .search-tabs__form {
    display: block;
    align-items: center;
  }
  .search-tabs__list {
    margin-bottom: 30px;
  }
  .search-tabs__btn {
    height: 85px;
  }
}

@media screen and (max-width: 520px) {
  .search__title {
    font-size: 34px;
    line-height: 48px;
  }
  .search-tabs__top-item:not(:last-child) {
    margin-right: 47px;
  }
}

@media screen and (max-width: 375px) {
  .search-tabs__link {
    font-size: 32px;
    line-height: 43px;
  }
}
/**********
*** SEARCH END ***
**********/

/**********
*** PROPERTIES START ***
**********/
.properties {
  padding: 150px 0;
}

.properties__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.properties__title {
  margin-bottom: 22px;
}

.properties-tabs__top-item {
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
  color: var(--grey-100);
  padding-left: 30px;
  position: relative;
  transition: all .3s;
}

.properties-tabs__top-item:hover {
  color: var(--grey);
}

.properties-tabs__top-item::before {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  background-color: var(--white);
  border: 1px solid var(--grey-100);
  border-radius: 50px;
  top: 6px;
  left: -10px;
}

.properties-tabs__top-item:hover::before {
  border: 1px solid var(--grey);
}

.properties-tabs__top-item:not(:last-child) {
  margin-right: 55px;
}

.properties-tabs__top-item--active {
  color: var(--violet);
}

.properties-tabs__top-item--active:hover {
  color: var(--violet);
}

.properties-tabs__top-item--active::before {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  border: 1px solid var(--violet);
  border-radius: 50px;
  top: 6px;
  left: -10px;
}

.properties-tabs__top-item--active::after {
  position: absolute;
  content: '';
  width: 13px;
  height: 13px;
  background-color: var(--violet);
  border-radius: 50px;
  top: 12px;
  left: -4px;
}

.properties-tabs__content-item {
  display: none;
}

.properties-tabs__content-item--active {
  display: block;
}

.slider-wrap {
  width: 100%;
  margin-bottom: 60px;
}

.slick-slide {
  margin: 0 30px 0 0 !important;
}

.slider__item {
  max-width: 520px;
  width: 100%;
  border-radius: 40px;
  background: var(--white);
  padding: 30px;
  transition: all .3s;
}

.slider__item:hover {
  box-shadow: 2px 4px 55px 0 rgba(0, 0, 0, 0.11);
}

.slider__box-img {
  max-width: 470px;
  width: 100%;
  margin-bottom: 25px;
}

.slider__box-images {
  max-width: 470px;
  width: 100%;
  border-radius: 40px;
}

.slider__box-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 49px;
  color: var(--black);
  margin-bottom: 10px;
}

.slider__box-subtitle {
  margin-bottom: 20px;
}

.slider__box-price {
  font-size: 58px;
  font-weight: 700;
  line-height: 91px;
  color: var(--black);
}

.slider__box-list {
  display: flex;
  margin-bottom: 55px;
}

.slider__box-item {
  color: var(--grey-100);
  position: relative;
}

.slider__box-item:not(:last-child) {
  margin-right: 50px;
}

.slider__box-item:not(:last-child)::after {
  position: absolute;
  content: '';
  background-color: var(--grey-100);
  width: 1px;
  height: 19px;
  top: 4px;
  right: -24px;
}

.slider__box-btn {
  background-color: var(--white);
  color: var(--blue);
  border: 2px solid var(--blue);
  font-size: 28px;
  font-weight: 600;
  border-radius: 20px;
  text-align: center;
  width: 100%;
  padding: 27px;
  transition: all .3s;
}

.slider__box-btn:hover {
  background-color: var(--blue);
  color: var(--white);
  border: 2px solid transparent;
}

.slick-next,
.slick-prev {
  position: absolute;
  content: '';
  width: 70px;
  height: 70px;
  padding: 8px;
  background-color: var(--violet);
  border-radius: 9px;
  bottom: -120px;
  right: 0;
  transition: all .3s;
  font-size: 0;
  transform: rotate(180deg);
}

.slick-prev {
  right: 100px;
  transform: rotate(0deg);
}

.slick-disabled {
  opacity: 0.3;
}

@media screen and (max-width: 1490px) {
  .properties__top {
    padding: 0 15px;
  }
  .slider__box-title {
    font-size: 24px;
  }
}

@media screen and (max-width: 1251px) {
  .slider__item {
    margin: 0 auto;
    padding: 10px 15px;
  }
}

@media screen and (max-width: 1130px) {
  .properties {
    padding: 80px 0;
  }
  .properties__top {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
  }
  .properties__slogan {
    margin-bottom: 50px;
  }
  .properties-tabs__top {
    text-align: center;
    align-items: center;
  }
  .properties-tabs__top-item::before {
    left: 0px;
  }
  .properties-tabs__top-item--active::after {
    left: 6px;
  }
}

@media screen and (max-width: 790px) {
  .properties {
    padding: 60px 0;
  }
  .slick-slide {
    margin: 0 0 0 0;
  }
  .slider__item {
    padding: 20px 25px;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .slider__box-img {
    max-width: 100%;
  }
  .slider__box-images {
    margin: 0 auto;
  }
  .slider__box-title {
    font-size: 30px;
  }
  .slider__box-list {
    justify-content: center;
  }
  .slick-next,
  .slick-prev {
    right: 57px;
    bottom: -76px;
  }
  .slick-prev {
    right: 145px;
  }
}

@media screen and (max-width: 680px) {
  .properties__top {
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 440px) {
  .properties {
    padding: 40px 0;
  }
  .properties-tabs__top-item:not(:last-child) {
    margin-right: 20px;
  }
  .properties__top {
    padding: 0;
  }
  .properties__slogan {
    margin-bottom: 25px;
  }
  .slider__item {
    padding: 20px 5px;
  }
  .slider__box-title {
    font-size: 25px;
    line-height: 34px;
  }
  .slider__box-price {
    font-size: 52px;
    line-height: 81px;
  }
  .slider__box-item:not(:last-child) {
    margin-right: 20px;
  }
  .slider__box-item:not(:last-child)::after {
    right: -11px;
  }
}
/**********
*** PROPERTIES END ***
**********/

/**********
*** BENEFIT START ***
**********/
.benefit {
  padding: 150px 0;
  position: relative;
}

.benefit::before {
  position: absolute;
  content: '';
  width: 570px;
  height: 570px;
  border-radius: 50%;
  background-color: var(--lighte-pink);
  top: -160px;
  left: -210px;
  z-index: -1;
}

.benefit__wrapper {
  display: flex;
}

.benefit__box-img {
  max-width: 800px;
  width: 100%;
  margin-right: 120px;
  position: relative;
}

.benefit__img {
  max-width: 800px;
  width: 100%;
  object-fit: cover;
  height: auto;
}

.benefit__block {
  position: absolute;
  content: '';
  background-color: var(--white);
  padding: 35px 40px;
  width: 390px;
  border-radius: 20px;
  bottom: 50px;
  left: -70px;
  box-shadow: -12px 16px 46px 0 rgba(0, 0, 0, 0.08);
}

.benefit__block-title {
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

.benefit__block-text {
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: var(--grey-100);
  margin-bottom: 10px;
}

.benefit__block-list {
  display: flex;
}

.benefit__block-item {
  width: 53px;
  height: 53px;
}

.benefit__block-item:not(:last-child) {
  margin-right: 10px;
}

.benefit__block-link {
  width: 100%;
}

.benefit__block-link:hover {
  opacity: 0.8;
}

.benefit__block-item--red {
  background-color: var(--red);
  text-align: center;
  border-radius: 5px;
}

.benefit__block-img {
  border-radius: 10px;
}

.benefit__box {
  padding: 5px;
}

.benefit__title {
  font-size: 58px;
  font-weight: 700;
  line-height: 91px;
  color: var(--black);
  margin-bottom: 90px;
}

.benefit__item {
  padding-left: 90px;
  position: relative;
}

.benefit__item::before {
  position: absolute;
  content: '';
  width: 102px;
  height: 103px;
  top: -5px;
  left: -15px;
}

.benefit__item--protection::before {
  content: url(../img/svg/protection.svg);
  z-index: 5;
}

.benefit__item--house::before {
  content: url(../img/svg/top_house.svg);
  z-index: 5;
}

.benefit__item--transparancy::before {
  content: url(../img/svg/transparancy.svg);
  z-index: 5;
}

.benefit__item:not(:last-child) {
  margin-bottom: 90px;
}

.benefit__item-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 50px;
  color: var(--black);
  margin-bottom: 15px;
}

benefit__item-text {
  font-size: 20px;
}

@media screen and (max-width: 1760px) {
  .benefit__box-img {
    margin-right: 30px;
  }
  .benefit__block {
    left: 0;
  }
}

@media screen and (max-width: 1405px) {
  .benefit::before {
    top: -86px;
  }
  .benefit__title {
    margin-bottom: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .benefit {
    padding: 100px 0;
  }
  .benefit::before {
    top: -106px;
    left: -83px;
  }
  .benefit__wrapper {
    flex-direction: column;
    justify-content: center;
  }
  .benefit__box-img {
    margin: 0 auto 40px;
  }
}

@media screen and (max-width: 1020px) {
  .benefit {
    padding: 80px 0;
  }
}

@media screen and (max-width: 768px) {
  .benefit {
    padding: 60px 0;
  }
  .benefit::before {
    display: none;
  }
  .benefit__block {
    bottom: -26px;
    box-shadow: 12px 16px 20px 12px rgba(0, 0, 0, 0.05);
  }
  .benefit__item:not(:last-child) {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 640px) {
  .benefit__box-img {
    margin: 0 auto 90px;
  }
  .benefit__block {
    padding: 20px;
    width: 300px;
    left: 0;
    bottom: -84px;
  }
  .benefit__item-title {
    font-size: 32px;
    line-height: 43px;
  }
}

@media screen and (max-width: 520px) {
  .benefit__item {
    padding-left: 15px;
    padding-top: 90px;
  }
  .benefit__item::before {
    top: -7px;
    left: 70px;
  }
  .benefit__item-title {
    font-size: 28px;
    line-height: 22px;
    margin-bottom: 10px;
  }
}
/**********
*** BENEFIT END ***
**********/

/**********
*** DESCRIPTION START ***
**********/
.description {
  padding: 150px 0;
  position: relative;
  padding-bottom: 340px;
  overflow: hidden;
}

.description::after {
  position: absolute;
  content: url(../img/content/vector.png);
  top: 115px;
  right: -109px;
  width: 900px;
  height: 981px;
  z-index: -1;
}

.description::before {
  position: absolute;
  content: url(../img/svg/linear.svg);
  top: -103px;
  right: 15px;
  width: 900px;
  height: 981px;
  z-index: -1;
}

.description__wrapper {
  display: flex;
  justify-content: space-between;
}

.description__item:nth-child(1) {
  max-width: 695px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 150px;
}

.description__title {
  color: var(--black);
  font-size: 58px;
  font-weight: 700;
  line-height: 91px;
  margin-bottom: 40px;
}

.description__slogan {
  font-size: 20px;
  line-height: 38px;
  max-width: 560px;
  width: 100%;
  margin-bottom: 45px;
}

.description__list {
  display: flex;
}

.description__list-item {
  position: relative;
}

.description__list-item:not(:last-child)::after {
  position: absolute;
  content: '';
  background-color: var(--grey-200);
  width: 1px;
  height: 47px;
  top: 23px;
  right: -42px;
}

.description__list-item:not(:last-child) {
  margin-right: 80px;
}

.description__list-number {
  color: var(--black);
  font-size: 42px;
  font-weight: 700;
  line-height: 59px;
}

.description__list-text {
  text-transform: uppercase;
}

.description__item:nth-child(2) {
  max-width: 585px;
  width: 100%;
  border-radius: 20px;
  background-color: var(--white);
  box-shadow: 8px 27px 69px 0 rgba(0, 0, 0, 0.08);
  padding: 100px 40px 40px 40px;
  position: relative;
}

.description__item:nth-child(2)::after {
  position: absolute;
  content: url(../img/svg/point.svg);
  width: 6px;
  height: 26px;
  top: 40px;
  right: 63px;
}

.description__inner-box {
  position: relative;
  max-width: 540px;
  width: 100%;
  margin-bottom: 40px;
}

.description__inner-box::after {
  position: absolute;
  content: url(../img/content/google.png);
  width: 170px;
  height: 170px;
  right: -110px;
  top: -46px;
}

.description__inner-box::before {
  position: absolute;
  content: url(../img/svg/save.svg);
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
  width: 38px;
  height: 37px;
  right: 21px;
  bottom: -10px;
}

.description__inner-img {
  max-width: 540px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  object-fit: contain;
}

.description__inner-block {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.description__inner-list {
  display: flex;
  margin-right: 30px;
}

.description__inner-items:not(:last-child) {
  margin-right: -25px;
}

.description__inner-link {
  width: 100%;
  transition: all .3s;
}

.description__inner-link:hover {
  opacity: 0.9;
}

.description__inner-ellipse {
  border-radius: 50%;
  width: 53px;
  height: 53px;
  object-fit: cover;
}

.description__inner-people {
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: var(--black);
}

.description__inner-slogan {
  max-width: 500px;
  width: 100%;
  margin-bottom: 30px;
}

.description__inner-text {
  font-size: 12px;
  line-height: 182%;
}

.description__bottom-list {
  display: flex;
  justify-content: space-between;
}

.description__bottom-item {
  padding-left: 40px;
  position: relative;
}

.description__bottom-item::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  top: -7px;
  left: 0;
}

.description__bottom-item--like::before {
  content: url(../img/svg/like.svg);
}

.description__bottom-item--comments::before {
  content: url(../img/svg/comments.svg);
}

.description__bottom-item--share::before {
  content: url(../img/svg/share.svg);
}

.description__posts {
  position: absolute;
  max-width: 308px;
  width: 100%;
  border-radius: 20px;
  background-color: var(--white);
  box-shadow: 16px -16px 42px 0px rgba(0, 0, 0, 0.10);
  bottom: -162px;
  left: -158px;
  padding: 34px 28px;
  text-align: center;
}

.description__posts-title {
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  color: var(--black);
  margin-bottom: 10px;
}

.description__posts-text {
  font-size: 10px;
  line-height: normal;
  color: var(--grey-100);
  margin-bottom: 25px;
}

.description__posts-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.description__posts-item {
  font-size: 12px;
  line-height: normal;
}

.description__posts-block {
  display: flex;
  justify-content: space-between;
}

.description__posts-btn {
  font-size: 10px;
  line-height: normal;
  border-radius: 10px;
  text-align: center;
  padding: 14px 14px 14px 43px;
  border: 1px solid var(--grey-200);
  position: relative;
}

.description__posts-btn::before {
  position: absolute;
  content: url(../img/svg/coolicon1.svg);
  top: 14px;
  left: 25px;
}

.description__posts-btn--violet {
  background-color: var(--violet);
  color: var(--white);
  border: none;
}

.description__posts-btn--violet::before {
  content: url(../img/svg/coolicon.svg);
  top: 16px;
  left: 25px;
}

@media screen and (max-width: 1760px) {
  .description__wrapper {
    justify-content: space-around;
  }
  .description__item:nth-child(1) {
    margin-right: 10px;
  }
  .description__inner-box::after {
    right: -75px;
  }
}

@media screen and (max-width: 1590px) {
  .description__inner-box::after {
    display: none;
  }
  .description__posts {
    display: none;
  }
}

@media screen and (max-width: 1265px) {
  .description__list {
      flex-wrap: wrap;
    }
    .description__list-item:not(:last-child) {
      margin-bottom: 30px;
    }
}

@media screen and (max-width: 1200px) {
  .description {
    padding: 100px 0 140px 0;
  }
}

@media screen and (max-width: 1024px) {
  .description {
    padding: 80px 0 100px 0;
  }
  .description__wrapper {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .description__item:nth-child(1) {
    max-width: 100%;
    padding-top: 0;
  }
  .description__title {
    margin-bottom: 20px;
  }
  .description__slogan {
    max-width: 100%;
    margin-bottom: 45px;
  }
  .description__list {
    justify-content: center;
    margin-bottom: 40px;
  }
  .description__item:nth-child(2) {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .description {
    padding: 60px 0 70px 0;
  }
  .description__list {
    flex-direction: column;
  }
  .description__list-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--grey-100);
  }
  .description__list-item:not(:last-child)::after {
    display: none;
  }
  .description__item:nth-child(2)::after {
    right: 40px;
  }
}

@media screen and (max-width: 460px) {
  .description__item:nth-child(2) {
    padding: 80px 15px 20px 15px;
  }
  .description__slogan {
    margin-bottom: 25px;
  }
  .description__inner-block {
    flex-direction: column;
    margin-bottom: 25px;
  }
  .description__inner-list {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .description__inner-items:not(:last-child) {
    margin-right: -15px;
  }
  .description__item:nth-child(2)::after {
    right: 16px;
  }
}
/**********
*** DESCRIPTION END ***
**********/

/**********
*** REVIEWS START ***
**********/
.reviews {
  background-color: var(--beige-100);
  position: relative;
  padding: 180px 0;
}

.reviews::before {
  position: absolute;
  content: '';
  width: 66px;
  height: 87px;
  fill: var(--white);
  filter: blur(20.5px);
  background-color: var(--white);
  top: 255px;
  left: 44%;
  z-index: 1;
}

.reviews__box-img {
  max-width: 810px;
}

.reviews__img {
  position: absolute;
  bottom: 0;
  left: 50px;
}

.reviews__wrapper {
  display: flex;
  justify-content: flex-end;
}

.reviews__box-content {
  max-width: 695px;
  width: 100%;
  position: relative;
}

.reviews__box-content::before {
  position: absolute;
  content: url(../img/svg/vector3.svg);
  top: 44px;
  left: -260px;
}

.reviews__box-content::after {
  position: absolute;
  content: url(../img/svg/quotes.svg);
  top: -110px;
  right: -75px;
}

.reviews__subtitle {
  color: var(--blue);
  line-height: 42px;
  letter-spacing: 8.01px;
  text-transform: uppercase;
}

.reviews__title {
  font-size: 58px;
  font-weight: 700;
  line-height: 91px;
  margin-bottom: 50px;
  color: var(--black);
}

.reviews__text {
  font-size: 24px;
  line-height: 42px;
  margin-bottom: 60px;
  color: var(--black);
}

.reviews__autor {
  font-size: 24px;
  font-weight: 700;
  line-height: 42px;
  color: var(--black);
}
/**********
*** REVIEWS END ***
**********/

/**********
*** FIND START ***
**********/
.find {
  padding: 290px 0;
  position: relative;
  overflow: hidden;
}

.find::before {
  position: absolute;
  content: '';
  background-color: var(--red);
  border-radius: 34.111px;
  width: 80px;
  height: 30px;
  left: -12px;
  top: 230px;
}

.find::after {
  position: absolute;
  content: '';
  background-color: var(--orange);
  border-radius: 50%;
  width: 160px;
  height: 160px;
  right: -85px;
  bottom: 95px;
}

.find__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.find__content {
  max-width: 695px;
  width: 100%;
}

.find__title {
  color: var(--black);
  font-size: 58px;
  font-weight: 700;
  line-height: 91px;
  margin-bottom: 40px;
}

.find__slogan {
  max-width: 567px;
  width: 100%;
}

.find__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
}

.find__form {
  max-width: 715px;
  width: 100%;
  position: relative;
}

.find__form::after {
  position: absolute;
  content: url(../img/svg/frame.svg);
  bottom: -95px;
  right: -62px;
  z-index: -1;
}

.find__input {
  border-radius: 20px;
  border: 1px solid var(--blue-100);
  background-color: var(--white);
  padding: 38px 45px;
  width: 100%;
}

.find__input:hover {
  border: 1px solid var(--blue);
}

.find__btn {
  position: absolute;
  top: 17px;
  right: 16px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  padding: 22px 45px;
  text-align: center;
  border-radius: 15px;
  border: 2px solid transparent;
  transition: all .3s;
}

.find__btn:hover {
  background-color: var(--white);
  color: var(--blue);
  border: 2px solid var(--blue);
}
/**********
*** FIND END ***
**********/
/* .description__title {
  color: var(--black);
  font-size: 53px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 40px;
} */
@media screen and (max-width: 1020px) {
  .title {
    font-size: 52px;
    line-height: 81px;
  }
}

@media screen and (max-width: 680px) {
  .title {
    font-size: 40px;
    line-height: 55px;
  }
}

@media screen and (max-width: 440px) {
  .title {
    font-size: 38px;
    line-height: 52px;
  }
}

@media screen and (max-width: 375px) {
  .title {
    font-size: 30px;
    line-height: 45px;
  }
}